<configuration scan="true">

    <!-- Silence logback's own internal logs -->
    <logger name="ch.qos.logback" level="WARN"/>

    <!-- Console output -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%-5level) %cyan(%logger{20}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger -->
    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Bloom logging -->
    <logger name="bloom" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>
